.posts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.posts-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
}
.posts-group a {
    text-decoration: none;
}
.filter img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    font-family: "Work Sans", sans-serif;
}
.category{
    text-align: center;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    border: 1px solid #353435;
    margin: 50px 100px;
    padding-left: 70px;
}
.hero img{
    width: 50%;
    height: 350px;
}
.hero-content{
    font-family: "Cinzel", serif;
}
.hero-content h1{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 45px;
    margin-bottom: 10px;
}
.bottom-content{
    display: flex;
    align-items: center;
    gap: 15px;
}
.bottom-content span{
    width: 30px;
    height: 2px;
    background-color: #353435;
}
.bottom-content p{
    font-size: 18px;
    font-weight: 500;
}
.latest-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 70px 0;
}
.latest-title span{
    width: 40px;
    height: 2px;
    background-color: #353435;
}
.latest-title h1{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #353435;
}
.features{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 80px 0;
}

.feature img{
    width: 80px;
    margin-bottom: 15px;
}
.feature{
    text-align: center;
    margin: 20px;
}
.feature p{
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

@media only screen and (max-width: 430px) {
    .hero{
        display: block;
        padding-left: 0;
        width: 90%;
        margin: 25px;
    }
    .hero img{
        width: 100%;
        height: 50%;
    }
    .hero-content{
        margin: 25px 10px;
    }
    .posts-group{
        gap: 20px;
    }
    .latest-title{
        margin: 40px 0;
    }
    .latest-title h1{
        font-size: 24px;
    }
    /* .feature img{
        width: 60px;
    }
    .feature p{
        font-size: 14px;
    }
    .feature{
        margin: 10px;
    } */
     .features{
        display: block;
     }
  }